body{
	min-width: 375px;
}

nav{
	width:80%;
	margin: auto;
}

.navbar-brand{
	letter-spacing: 3px;
	color: white;
}

nav ul li a{
	color: white;
	letter-spacing: 1px;
	text-transform: lowercase;

}

nav ul li a:hover{
	color: lightgray;
}


.op-header{
	background-color: #7EB062;
	height:700px;	
	width:100%;
	padding: none;
}
.navbar-toggler{
	background-color: rgba(256,256,256,.2);
}

.navbar-collapse{
	text-align: right;
}

.head-logo{
	width: 70%;
	margin: 75px auto;
	height:250px;
}

#mainlogo{
	max-width:400px;
	min-width: 325px;
	display: block;
	margin: auto;
}

#blurb{
	max-width: 70%;
	min-width: 325px;
	max-height: 200px;
	text-align: center;
}
